mixin loader()
  .loader(data-loader)
    .loader__animate-wrap
      .loader__animate-el.loader__animate-el-1
      .loader__animate-el.loader__animate-el-2
      .loader__animate-el.loader__animate-el-3
      .loader__animate-el.loader__animate-el-4
