mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "Интро"
      },
      {
        href: "#experience",
        text: "Опыт разработки"
      },
      {
        href: "#projects",
        text: "Проекты"
      },
      {
        href: "#certificates",
        text: "Дипломы"
      },
      {
        href: "#scroll",
        text: "Стек, навыки, контакты"
      },
    ]

  header.header(class=headerMods data-header data-fix-block)
    .container
      .header__logo-block
        if(currentUrl === "index.html")
          span
            +icon("logo", 67, 67)
        else
          a.header__logo(href="index.html", aria-label="Переход на главную")
            +icon("logo", 67, 67)
      button.btn.header__main-button.btn-header(data-btn-nav aria-label="Открыть/закрыть меню")
          span.header__main-button-el-top.header__main-button-el
          span.header__main-button-el-bottom.header__main-button-el
    nav.main-nav(data-main-nav data-fix-block)
      .container
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item(class = currentUrl === link.href ? "is-active" : "")
                if(activeState)
                  span.main-nav__link.is-active=link.text
                else
                  a.main-nav__link(href=link.href)=link.text
